.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: url(../img/home_page.jpg) no-repeat top center;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-title-container {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-title {
  font-size: 24px;
  color: #fff;
  margin-top: 1vh;
  font-weight: 600;
}

.cta-container.cta-container__home {
  position: fixed;
  top: 32%;
  width: 100%;
}

.page-description {
  font-size: 18px;
  color: #fff;
}

.divider {
  width: 100%;
  height: 10px;
  margin-bottom: 1vh;
}

a.btn.cta-btn {
  text-decoration: none;
  font-weight: 900;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.3rem 1.2rem;
}

a.btn.cta-btn:hover {
  background-color: #fff;
  color: #000;
}

.social-icons-container {
  position: fixed;
  bottom: 1vh;
  width: 100%;
}
.social-icons-container a {
  text-decoration: none;
  color: #fff;
}
/** MEDIA QUERIES FOR MOBILES**/
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .main {
    background: url(../img/viso_h_iphoneX_600x900.jpg) no-repeat top center;
  }
  .cta-container.cta-container__home {
    top: 15%;
  }
  
  .page-description {
    font-size: 14px;
  }
  
  .divider {
    height: 2px;
  }
  
  a.btn.cta-btn {
    padding: 0.3rem 1rem;
  }
}

/** MEDIA QUERIES FOR IPAD AND TABLETS**/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    background: url(../img/viso_h_ipad_800x1200.jpg) no-repeat top center;
  }
  .cta-container.cta-container__home {
    top: 15%;
  }
}