/* GENERAL RULES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: #505050;
}

.paragraph {
  font-size: 14px;
  line-height: 28px;
  color: #736e6e;
}

.title-section {
  margin: 25px;
}

.description-section {
  margin: 35px;
}

/* NAVBAR */
header {
  font-family: sans-serif;
  /* position: absolute; */
  top: 0;
  left: 0;
  padding: 20px 50px;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  /* box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); */
}

header .logo {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  float: left;
  margin-bottom: 5px;
}

header .logo a {
  color: #505050;
  text-decoration: none;
  font-weight: 600;
}

header .logo .logo-description {
  font-size: 14px;
  color: #cecece;
  font-weight: 600;
  padding-left: 5px;
}

header nav {
  float: right;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 10px;
  color: #cecece;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #505050;
  
}

.menu-toggle {
  color: #505050;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

/* NAVBAR MEDIA QUERIES*/
@media (max-width: 991px) {
  header {
    padding: 0 10px;
  }
  .menu-toggle {
    display: block;
  }

  header .logo {
    font-size: 16px;
    font-weight: 600;
  }
  
  header .logo .logo-description {
    font-size: 12px;
    color: #cecece;
    font-weight: 600;
    padding-left: 5px;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    background: #262626;
    top: 50px;
    left: -100%;
    transition: 0.5s;
  }
  header nav.open {
    left: 0;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  header nav ul a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  header nav ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
  }

  header nav ul li a:hover {
    background: #fff;
    color: rgba(0, 0, 0, 0.7);
    font-size: 16px;
  }
}

/*********************************************
                    HOME
**********************************************/
.main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: url(../img/home_page.jpg) no-repeat top center;
  position: fixed;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-title-container {
  position: fixed;
  top: 0;
  width: 100%;
}

.page-title {
  font-size: 24px;
  color: #fff;
  margin-top: 1vh;
  font-weight: 600;
}

.cta-container.cta-container__home {
  position: fixed;
  top: 32%;
  width: 100%;
}

.page-description {
  font-size: 18px;
  color: #fff;
}

.divider {
  width: 100%;
  height: 10px;
  margin-bottom: 1vh;
}

a.btn.cta-btn {
  text-decoration: none;
  font-weight: 900;
  color: #fff;
  border: 2px solid #fff;
  padding: 0.3rem 1.2rem;
}

a.btn.cta-btn:hover {
  background-color: #fff;
  color: #000;
}

.social-icons-container {
  position: fixed;
  bottom: 1vh;
  width: 100%;
}
.social-icons-container a {
  text-decoration: none;
  color: #fff;
}

/*********************************************
                    WORKS
**********************************************/
section.works-main {
  padding: 50px;
  text-align: center;
}

/******* gallery *********/
.gallery {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.gallery a {
  text-decoration: none;
  color: #cecece;
  font-size: 16px;
  letter-spacing: 2px;

}

.gallery-item {
  width: 100%;
  height: 400px;
  margin-bottom: 2px;
  background-size: cover;
  position: relative;
}

.gallery-item:after {
  position: absolute;
  content: '';
  background-color: rgba(0,0,0,0.15);
  background-size: cover; /* Make overlay fit the window of our original image */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  opacity: 1; /* Make's the overlay invisible until we hover */
  transition: .5s ease all; /* How long the transition takes */
 }

 .gallery-item:hover:after {
   opacity: 0;
 }



.gallery-description {
  position: absolute;
  top: 85%;
  left: 5%;
  z-index: 10;
}
/*********************************************
                  FOOTER
*********************************************/
footer {
  width: 100%;
  color: #505050;
  text-align: center;
}

/*********************************************
                  MEDIA QUERIES
*********************************************/
/** MEDIA QUERIES FOR MOBILES**/
@media only screen and (min-width: 321px) and (max-width: 480px) {
  /*general*/
  .title {
    font-size: 16px;
  }

  .paragraph {
    font-size: 13px;
    line-height: 26px;
  }

  .title-section {
    margin: 25px;
  }

  .description-section {
    margin: 30px;
  }
  /*home page*/
  .main {
    background: url(../img/viso_h_iphoneX_600x900.jpg) no-repeat top center;
  }
  .cta-container.cta-container__home {
    top: 15%;
  }

  .page-description {
    font-size: 14px;
  }

  .divider {
    height: 2px;
  }

  a.btn.cta-btn {
    padding: 0.3rem 1rem;
  }
}

/** MEDIA QUERIES FOR IPAD AND TABLETS**/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    background: url(../img/viso_h_ipad_800x1200.jpg) no-repeat top center;
  }
  .cta-container.cta-container__home {
    top: 15%;
  }
}
